.movie-container{
   display: grid;
   place-items: center;
   grid-template-columns: repeat(4, auto);
   gap: 4rem 0;
   margin: 6rem 0 2rem;
}

.movie{
   background-color: $nav-text-hover-bg;
   padding: 0.5rem 2rem;
   border-radius: $radius;
   color: $nav-text-clr;
}

.name-rating{
   display: flex;
   justify-content: space-between;
   padding:  0.5rem;
}

.add-btn{
   background-color: $nice-blue;

   &:hover{
      background-color: $add-btn-hover;
   }
}

.loading,.error{
   color: $nav-text-clr;
   height: 5rem;
}

.empty-watchlist{
   color: $nav-text-clr;
   margin: auto;
   width: 70% ;

   p{
      margin: 2rem 0;
   }
}